@model PiesListViewModel

@{
    ViewData["Title"] = "Pie List";
}

<h1>
    @Model.CurrentCategory
</h1> 

<div class="container-fluid">
    <div class="row">
            @foreach (var pie in Model.Pies)
            {
                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="card mb-2">
                        <img src=@pie.ImageUrl class="card-img-top" alt=@pie.Name>
                        <div class="card-body">
                            <h5 class="card-title">@pie.Name</h5>
                            <h6 class="card-subtitle">@pie.Price.ToString("C")</h6>
                            <p class="card-text">@pie.ShortDescription</p>
                            <p class="small">@pie.CreatedAt.ToString("s")</p>
                        </div>
                    </div>
                </div>
            }
    </div>
</div>
